* {
    --primary-color: #1574ca;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

header h1 {
    font-size: 90px;
    margin: 0;
    color: var(--primary-color);
}

header p {
    font-size: 20px;
    margin: 0 0 5px 0;
    animation: bounce 2s infinite ease-in-out;
    font-family: "Bungee", sans-serif;
}

header img {
    text-align: center;
    margin: 25px auto;
    width: 300px;
    height: 300px;
    animation: pendulum 3s infinite linear;
    image-rendering: pixelated;
}

.button {
    justify-self: center;
    margin: 5px auto;
}

section {
    margin: 0 10%;
}

section h2 {
    margin-left: -20px;
}


#emotes-defile {
    background: url("../../images/projects/pussinbot/emotes.png") 64px;
    background-size: auto 100%;
    image-rendering: pixelated;
    margin-top: 30px;
    height: 64px;
    width: 100%;
    animation: background-defile 30s linear infinite;
}

#last-button {
    display: flex;
    justify-content: center;
}

.emote {
    width: 32px;
    height: 32px;
    transform: translateY(5px);
}

.accent {
    color: var(--primary-color);
}