@{
    ViewBag.Title = "Projets";
    Layout = "_Layout";
}
<header>
    <h1>Mes projets</h1>
    <p>Découvrez ci-dessous, la liste de mes différents projets que j'ai pu réaliser durant mon parcours dans le domaine de la programmation.</p>
</header>
<main>
    <div class="project">
        <h2>XY Engine</h2>
        <img src="/images/projects/XYEngine.png" alt="Vignette du projet" asp-append-version="true"/>
        <div class="project__links">
            <a class="button" asp-action="XYEngine">Découvrir</a>
            <p style="background: rgb(0,75,0)">Moteur de jeux</p>
        </div>
    </div>
    <div class="project">
        <h2>Puss In Bot</h2>
        <img src="/images/projects/PussInBot.png" alt="Vignette du projet" asp-append-version="true"/>
        <div class="project__links">
            <a class="button" asp-action="PussInBot">Découvrir</a>
            <p style="background: rgb(0,50,105)">bot discord</p>
        </div>
    </div>
    <div class="project">
        <h2>Civilian Defense Force</h2>
        <img src="/images/projects/CDF.png" alt="Vignette du projet" asp-append-version="true"/>
        <div class="project__links">
            <a class="button" asp-action="CDF">Découvrir</a>
            <p style="background: rgb(85,0,143)">Site web</p>
        </div>
    </div>
    <div class="project">
        <h2>Minesweeper Basic</h2>
        <img src="/images/projects/MinesweeperBasic.png" alt="Vignette du projet" asp-append-version="true"/>
        <div class="project__links">
            <a class="button" asp-action="MinesweeperBasic">Découvrir</a>
            <p style="background: rgb(0,54,0)">Jeu vidéo</p>
        </div>
    </div>
    <div class="project">
        <h2>Snake JS</h2>
        <img src="/images/projects/SnakeJS.png" alt="Vignette du projet"/>
        <div class="project__links">
            <a class="button" asp-action="SnakeJS">Découvrir</a>
            <p style="background: rgb(0,54,0)">Jeu vidéo</p>
        </div>
    </div>
</main>