@{
    ViewBag.Title = "XYEngine";
}

<main>
    <img src="/images/projects/xyengine/logo.png" alt="logo XYEngine"/>
    <p>XYEngine est un moteur de jeu 2D, en cours de développement permettant de réaliser principalement mes divers projets !</p>
    <p>
        Cette page sera amené à être modifié pour vous donner un aperçu plus global du moteur que je vous partage. Mais si vous souhaitez le découvrir tout de suite le moteur est open-source et
        disponible sur <a href="https://github.com/MrSinaf/XYEngine" target="_blank">Github</a>.</p>
</main>