@keyframes loader {
    0% {
        background-position: 0 0, 50% 0, 0 50%, 50% 50%
    }
    12.5% {
        background-position: 50% 0, 100% 0, 0 50%, 50% 50%
    }
    25% {
        background-position: 50% 0, 100% 0, 50% 50%, 100% 50%
    }
    37.5% {
        background-position: 50% 0, 100% 50%, 50% 50%, 100% 100%
    }
    50% {
        background-position: 50% 50%, 100% 50%, 50% 100%, 100% 100%
    }
    62.5% {
        background-position: 50% 50%, 100% 50%, 0 100%, 50% 100%
    }
    75% {
        background-position: 0 50%, 50% 50%, 0 100%, 50% 100%
    }
    87.5% {
        background-position: 0 0, 50% 50%, 0 50%, 50% 100%
    }
    100% {
        background-position: 0 0, 50% 0, 0 50%, 50% 50%
    }
}

@keyframes nav-fixed {
    from {
        width: calc(100% - 30px);
    }
    to {
        width: 100%;
    }
}

header {
    height: calc(48px + 30px);
}

nav {
    display: flex;
    align-items: center;
    background: var(--panel-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    margin: 15px;
    height: 48px;
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--accent-color);
    transition: margin-left 0.5s, margin-right 0.5s;
}

nav.fixed {
    z-index: 15;
    position: fixed;
    margin: 0;
    max-width: var(--max-page-width);
    border-radius: 0;
    animation: nav-fixed 0.5s;
    animation-fill-mode: forwards;
}

nav.fixed > p {
    border-radius: 0;
}

nav > ul {
    display: flex;
    list-style: none;
    margin: 0 10px;
    padding: 0;
    height: 100%;
    align-items: center;
}

nav > p {
    margin-right: 20px;
    background: #2eab64;
    color: white;
    padding: 0 10px;
    height: 48px;
    align-content: center;
    border-radius: 10px 0 0 10px;
    transition: border-radius 0.5s;
}

nav > p:before {
    content: "ã€‰";
    font-weight: bold;
    position: relative;
    left: 0.2rem;
    top: 2px;
}

nav > div {
    display: none;
}

nav a:any-link {
    color: var(--accent-color);
    text-decoration: none;
    margin: 0 15px 0 auto;
}

nav > a:hover {
    text-decoration: underline;
}

nav > a > img {
    image-rendering: pixelated;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 1024px){
    nav {
        position: relative;
    }
    
    nav > p {
        font-size: 20px;
    }
    
    nav > div {
        display: flex;
        margin-left: auto;
        margin-right: 10px;
    }
    
    nav > ul {
        display: none;
        margin: 96px 8px 0 8px;
        z-index: 1000;
        text-align: right;
        position: absolute;
        height: 100%;
        width: calc(100% - 16px);
    }

    nav > ul.show {
        display: block;
    }
    
    nav > ul > li {
        display: block;
        background: var(--panel-color);
    }
}

@media (min-width: 2000px) {

    nav.fixed {
        border-radius: 0 0 10px 10px;
    }

    nav.fixed > p {
        border-radius: 0 0 0 10px;
    }
}