body {
    grid-template-rows: auto 1fr;
    background: url("../../images/spattern.jpg") rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

p {
    margin: 10px;
}