@{
    ViewData["Title"] = "A propos";
    Layout = "_Layout";
}
<header>
    <h1>@ViewData["Title"]</h1>
    <p>
        Ce site à était entièrement développé en ASP.NET MVC sous la version 8.0 de .NET et en C#12 par Mickaël Dancoisne.<br/>
        Vous pouvez retrouver le code source <a href="https://github.com/MrSinaf/SinafProduction" target="_blank">ici</a>.
    </p>
</header>
<main>
    <section id="contact">
        <h2>Me contacter</h2>
        <p>Voici les méthodes possibles pour me contacter :</p>
        <ul  class="no-style">
            <li>
                <a href="mailto:mrsinaf@sinafproduction.xyz" target="_blank" class="button">
                    <img src="/images/svg/logo_mail.svg" alt="logo mail"/>
                    <p>Mail</p>
                </a>
            </li>
            <li>
                <a href="https://discord.gg/6BbcJQWw7j" target="_blank" class="button">
                    <img src="/images/svg/logo_discord.svg" alt="logo discord"/>
                    <p>Discord</p>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/mickael-dancoisne/" target="_blank" class="button">
                    <img src="/images/svg/logo_linkedin.svg" alt="logo linkedin"/>
                    <p>Linkedin</p>
                </a>
            </li>
        </ul>
    </section>
    <hr/>
    <section id="politic">
        <div>
            <h2>Conditions Générales d'Utilisation</h2>
            <p>En accédant et en utilisant ce site, vous acceptez les présentes Conditions Générales d'Utilisation (CGU).</p>

            <h3>Accès au site</h3>
            <p>
                Le site est accessible à tout utilisateur disposant d'un accès à Internet. Certaines sections peuvent être réservées aux abonnés ou nécessiter une
                inscription. Le contenu est gratuit, sauf indication contraire.
            </p>

            <h3>Propriété intellectuelle</h3>
            <p>
                Tous les contenus publiés sur ce site (textes, images, vidéos, codes sources, etc...) sont protégés par les lois sur la propriété intellectuelle.
                Sauf mention contraire, ces contenus sont la propriété exclusive de la <b>Sinaf Production</b>.
            </p>
            <p>
                Toute reproduction, distribution, modification ou exploitation des contenus sans autorisation écrite préalable est strictement interdite.
            </p>

            <h3>Utilisation des contenus</h3>
            <p>
                Vous êtes libre de consulter et d'utiliser le contenu du site pour des usages personnels ou non commerciaux, à condition de respecter les droits d'auteur
                et de citer la source.
            </p>

            <h3>Liens vers des sites tiers</h3>
            <p>
                Le site peut contenir des liens hypertextes vers d'autres sites web. La <b>Sinaf Production</b> n'est pas responsable du contenu ou des pratiques de
                confidentialité de ces sites tiers.
            </p>

            <h3>Modification des CGU</h3>
            <p>
                Nous nous réservons le droit de modifier ces Conditions Générales d'Utilisation à tout moment. Toute modification sera effective dès sa publication sur
                cette page. Il vous est recommandé de consulter régulièrement cette page pour être informé des éventuelles mises à jour.
            </p>
        </div>

        <div>
            <h2>Politique de confidentialité</h2>
            <p>Découvrez ci-dessous notre politique de confidentialité.</p>

            <h3>Visiteurs</h3>
            <p>
                En tant que visiteur (membre non connecté), nous ne collectons aucune information vous concernant, même de manière anonyme, sur le domaine
                sinafproduction.xyz.
            </p>

            <h3>Membres</h3>
            <p>
                Lors des tentatives de connexion, votre adresse IP est récupérée dans le but de protéger le site et ses utilisateurs contre des menaces potentielles.<br/>
                Ces informations sont stockées pendant 14 jours et ne sont accessibles qu'aux rares administrateurs.
            </p>
            <p>
                Aucune autre information n'est collectée sans votre consentement explicite.
            </p>

            <h3>Vos droits</h3>
            <p>
                En tant que membre, vous avez le droit de demander l'accès aux informations que nous détenons sur vous, leur correction, leur suppression, ou encore
                limiter leur traitement. Vous pouvez exercer ces droits en nous contactant via l'email de contact sur le site.
            </p>

            <h3>Sécurité</h3>
            <p>
                Nous mettons en place des mesures de sécurité pour protéger vos données contre tout accès non autorisé. Cela inclut l'utilisation de technologies de
                chiffrement et la limitation des accès aux données personnelles.
            </p>
        </div>
    </section>
</main>