@{
    ViewBag.Title = "Minesweeper Basic";
}


<main>
    <h1>Minesweeper Basic</h1>
    <header>
        <div>
            <h2>Découvrez,</h2>
            <p>un démineur très simpliste créé avant tout pour tester les fonctionnalités de mon propre moteur de jeu SPEngine.</p>
            <p>
                Bien qu'il soit un simple jeu, il n'en est pas moins complet, avec un choix de difficulté offrant des maps et un nombre de bombes variables, ainsi qu'un
                compteur et des points de vies pour convenir à tous les joueurs.
            </p>
            <a class="button" href="https://github.com/MrSinaf/MinesweeperBasic/releases/download/v1.0.0/MinesweeperBasic.rar">Télécharger</a>
        </div>
        <img src="/images/projects/minesweeperbasic/window_game.png" alt="Fenêtre du jeu Minesweeper Basic"/>
    </header>
    <hr/>
    <h2>Projet archivé</h2>
    <p>
        Le moteur de jeu SPEngine a été développé avec <a href="https://monogame.net/" target="_blank">Monogame</a>, mais n'étant pas pleinement satisfait de ce que
        Monogame proposait, j'ai décidé de l'abandonner pour me consacrer à un nouveau moteur de jeu <a asp-action="XYEngine">XYEngine</a>.
    </p>
    <p>
        Par ce fait, le développement de Minesweeper est arrêté, vous pouvez tout de même retrouver le code source partagé publiquement sur 
        <a href="https://github.com/MrSinaf/MinesweeperBasic" target="_blank">Github</a>.
    </p>
</main>