@{
    ViewBag.Title = "XYEngine";
}

<main>
    <img src="/images/projects/xyengine/logo.png" alt="logo XYEngine"/>
    <p>XYEngine est un moteur de jeu 2D, en cours de développement permettant de réaliser principalement mes divers projets !</p>
    <p>
        C'est un moteur sans grande ambition, je souhaite avant tout découvrir le développement de jeux en bas-niveau. Le moteur n'a pour le moment aucune version
        stable, mais quand cela arrivera, j'ajouterai du contenu sur cette page permettant de décrire toutes ses fonctionnalités.
    </p>
    <p>Le moteur est open-source et disponible sur <a href="https://github.com/MrSinaf/XYEngine" target="_blank">Github</a>.</p>
</main>