@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main {
    padding: 10px;
}

h1 {
    text-align: center;
}

#header {
    margin: 30px auto 30px auto;
    display: flex;
    max-width: 900px;
    position: relative;
}

#header img {
    position: absolute;
    top: 20px;
    right: -64px;
    width: 126px;
    image-rendering: pixelated;
}

#header input {
    width: 100%;
}

li {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.blog {
    transform: skew(5deg);
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 12px;
    background: var(--background-color-4);
    transition: scale 0.15s linear;
    max-width: 800px;
    width: 100%;
}

.blog:hover {
    scale: 1.05;
    cursor: pointer;
}

.blog:hover .blog__thumbnail > img {
    scale: 1.2;
}

.blog > *:not(.blog__thumbnail) {
    transform: skew(-5deg);
}

.blog__thumbnail {
    margin: 5px;
    border-radius: 8px;
    width: 96px;
    height: 96px;
    overflow: hidden;
}

.blog__thumbnail > img {
    width: 96px;
    height: 96px;
    transition: scale 0.15s linear;
}

.blog__infos {
    margin: 10px 20px;
}

.blog__infos p {
    margin: 0;
}


@media (max-width: 900px) {
    #header img {
        top: -100px;
    }
    
    .blog {
        flex-direction: column;
        margin: 10px;
    }
    
    .blog__thumbnail {
        margin: 10px auto -5px auto;
    }
}