@keyframes spawn {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-x: hidden;
}

.loading {
    background: none;
}

h1 {
    font-size: 5rem;
    margin: 0;
}

h1:before {
    content: "ã€‰";
    color: var(--accent-color);
    position: relative;
    left: 1rem;
    top: 0.5rem;
}

h2 {
    text-align: center;
}

#main {
    width: fit-content;
    margin-left: 10%;
}

#main > p {
    font-size: 2rem;
    color: var(--accent-color);
    text-align: right;
    margin: 0;
}

#snake-logo {
    position: absolute;
    z-index: -1;
    height: 500px;
    width: 400px;
    top: 250px;
    left: calc(50vw - 600px);
    background: url("images/silhouette_sp.svg");
    background-size: cover;
    scale: 1.5;
    transform: rotate(-10deg);
}

/*#region Projects */
#projects {
    margin: 42px 0;
}

#projects > h2 {
    margin: 10px 0 10px 500px;
}

#projects__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.project {
    width: 300px;
    height: 400px;
    margin: 0;
    transform: skew(-10deg);
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background: var(--panel-color-secondary);
    border-radius: 10px;
    transition: transform 0.2s;
}

.project:hover {
    transform: translateY(-10px) skew(-10deg);
    cursor: pointer;
}

.project > img {
    transition: all 0.2s;
    image-rendering: pixelated;
    z-index: -1;
}

.project:hover > img {
    opacity: 1;
    scale: 1.1;
}

.project > h3 {
    color: white;
    position: absolute;
    background: var(--background-color);
    height: fit-content;
    padding: 3px 15px;
    margin: 0;
    left: -5px;
    border-radius: 0 0 5px 0;
}

.project > * {
    transform: skew(10deg);
}

/*#endregion*/

/*#region GitHub */
#github {
    margin: 10px 0 45px 0;
}

#commit {
    display: flex;
    background: var(--panel-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 750px;
    margin: auto;
    align-self: center;
    padding: 5px 10px;
    border-radius: 10px;

    transition: scale 0.2s;
}

#commit--added {
    color: #3fcc3f;
    margin: 0 2px;
}

#commit--removed {
    color: #f14848;
    margin: 0 2px;
}

#commit--modified {
    color: #53e8e8;
    margin: 0 2px;
}

#commit__repo {
    margin: 0;
}

#commit > div:first-child {
    width: 100%;
}

#commit:hover {
    scale: 1.05;
}

#commit__content {
    margin: 5px 10px 10px 10px;
}

#commit__branch {
    background: var(--accent-color);
    padding: 0 10px;
    border-radius: 5px 0 0 5px;
}

#commit__avatar {
    position: relative;
    width: 128px;
}

#commit__avatar > img {
    position: absolute;
    bottom: -32px;
    right: -20px;
    image-rendering: pixelated;
    width: 100%;
}

/*#endregion*/

/*#region Blogs */
#blogs {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

#blogs > h2 {
    margin: 20px 0 0 30px;
    text-align: left;
}

#blogs > div {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog {
    transform: skew(5deg);
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 12px;
    background: var(--background-color-4);
    transition: scale 0.15s linear;
    text-decoration: none;
    color: inherit;
}

.blog:hover {
    scale: 1.05;
    cursor: pointer;
}

.blog:hover .blog__thumbnail > img {
    scale: 1.2;
}

.blog > *:not(.blog__thumbnail) {
    transform: skew(-5deg);
}

.blog__thumbnail {
    margin: 5px;
    border-radius: 8px;
    width: 96px;
    height: 96px;
    overflow: hidden;
}

.blog__thumbnail > img {
    width: 96px;
    height: 96px;
    transition: scale 0.15s linear;
}

.blog__infos {
    margin: 10px 20px;
}

.blog__infos p {
    margin: 0;
}

/*#enregion*/

@media (max-width: 1024px) {

    h1 {
        text-align: center;
        text-wrap: auto;
        font-size: 3rem;
        margin-bottom: 0;
    }

    #main > p {
        text-align: center;
        margin-top: 0;
    }

    #projects {
        position: relative;
        margin-top: 15px;
    }

    #projects > h2 {
        margin: 10px 0 10px 0;
    }

    #snake-logo {
        height: 400px;
        width: 300px;
        left: calc(50vw - 280px);
    }

    #projects__list {
        flex-wrap: wrap;
    }

    .project {
        height: 192px;
        width: 192px;
    }
}


@media (max-width: 780px) {
    .blog {
        flex-direction: column;
        margin: 5px;
    }

    .blog__thumbnail {
        margin: 10px auto -5px auto;
    }
}