main {
    position: relative;
    padding: 10px;
}

h1 {
    text-align: center;
}

hr {
    margin: 5px auto 40px auto;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 20px;
}

#projects * {
    text-decoration: none;
    color: inherit;
}

.project {
    position: relative;
    rotate: -2deg;
    width: 300px;
    height: 300px;
    background: var(--background-color-4);
    border-radius: 10px;
    overflow: hidden;
    transition: rotate 0.2s;
}

.project:nth-child(2n) {
    rotate: 2deg;
}

.project:hover {
    cursor: pointer;
    rotate: 0deg;
}

h2 {
    background: var(--accent-color);
    font-size: 1.5em;
    color: white;
    padding: 0 10px;
    border-radius: 5px;
    text-align: left;
    margin: 10px;
    width: fit-content;
    height: fit-content;
}

.project__description {
    position: absolute;
    bottom: -10px;
    right: 8px;
    display: flex;
}

.project__description > p {
    display: block;
    padding: 5px;
    border-radius: 5px;
    background: var(--button-color-secondary);
}

.project img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    z-index: -1;
}

#end {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

#end img {
    height: 200px;
    width: 200px;
    align-self: center;
    image-rendering: pixelated;
    mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}

#end p {
    margin-top: 120px;
    height: fit-content;
    padding: 5px;
    border-radius: 8px 8px 8px 0;
    transform: rotate(10deg);
}

@media (max-width: 1024px) {

    .project {
        width: 250px;
        height: 250px;
    }
    
}