@page "/project/{UniqueName}"

<main>
    <p style="text-align: center">Désolé, cette page est pour le moment indisponible ⊙﹏⊙!</p>
</main>

@code
{
    [Parameter] public string UniqueName { get; set; } = string.Empty;
}
